body {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #5e7cb4, #bd5ac0);
    color: black;
    text-align: center;
    font-family: Arial;
    height: 100hv;
    margin: 0;
    flex-direction: column;
}
h1 {
    font-size: 48px;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#spieler {
    font-size: 24px;
    margin: 15px;
    color: white;
    opacity: 0.9;
}
#board {
    display: grid;
    grid-template-columns: repeat(3,120px);
    gap: 10px;
    justify-content: center;
    margin: 30px;
}
#board button {
    width: 120px;
    height: 120px;
    font-size: 42px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: white;
    color: #4138c2;
    transition: 0.2s;
    animation: pop 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#board button:hover {
    background: rgba(255, 255, 255, 0.9);
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
.win {
    background: linear-gradient(45deg, #06d6a0,  #00ffcc) ;
    box-shadow: 0 0 20px  rgba(0, 255, 200, 0.8) !important;
    color: white ;
}

#reset {
    width: 220px;
    height: 60px;
    font-size: 26px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(45deg, #5b65eb, #eb5a99);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
    box-shadow: 0 0 15px rgba(248, 115, 173, 0.6);
}
#reset:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #3d31ec, #ef476f);
}
.win-text {
    animation: glow 1s ease-in-out infinite alternate;
}
#mode {
    margin: 15px;
}
#mode button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes glow {
    from {
        text-shadow:
        0 0 10px #fff,
        0 0 20px #ff006e,
        0 0 30px #8338ec,
        0 0 40px #3a86ff;
    }
    to {
        text-shadow: 
        0 0 20px #fff,
        0 0 30px #ff006e,
        0 0 40px #8338ec,
        0 0 50px #3a86ff;
    }
}